<html th:replace="~{layout :: layout ('Clientes', ~{::main}, ~{::styles}, ~{::script})}">

<head></head>

<body>
	<main>
		<section class="container">
			<div class="dropdown">
				<a class="btn btnGroupFor dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					<i class="fa fa-calculator"></i>

				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/clientes">
						<i class="fa fa-address-card"></i>
						Clientes
					</a>
					<a class="dropdown-item" href="/destino">
						<i class="fa fa-plane"></i>
						Destinos
					</a>
					<a class="dropdown-item" href="/promocao">
						<i class="fa fa-calculator"></i>
						Promoções
					</a>
					<a class="dropdown-item" href="/reservas">
						<i class="fa fa-tree"></i>
						Reservas
					</a>

					
				</div>
			</div>
			<div class="p-4">
				<button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mb-2 botao1"> Nova
					Promoção </button>

				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Preço</th>
							<th scope="col">Validade</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${promocoes}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.precoPromo}" class="name"></td>
							<td th:text="${p.validade}"></td>
							<td>
								<div class="d-flex">
									<a th:href="@{'/promocao'}" data-bs-toggle="modal"
										th:data-bs-target="'#exampleModal' + ${p.id}" class="mx-1" title="Editar">
										<button class="btn btn-primary">Editar</button>
									</a>
									<a th:href="@{'/promocao/' + ${p.id} + '/excluir'}" class="mx-1" title="Cancelar"
										onclick="return confirm('Deseja excluir o usuario ?')">
										<button class="btn btn-danger">Excluir</button>
									</a>

									<div class="modal fade" th:id="'exampleModal' + ${p.id}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel"> Atualizar </h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form th:action="@{/promocao/cadastrar}" method="post"
														th:object="${promocao}">

														<input type="hidden" id="id" name="id" class="form-control"
															th:value="${p.id}" />
														<div class="form-group mb-3">
															<label for="preco" class="form-label">
																Preço
															</label>
															<input type="text" id="precoPromo" name="precoPromo"
																class="form-control" th:value="${p.precoPromo}" />
														</div>
														<div class="form-group mb-3">
															<label for="preco" class="form-label">
																Validade
															</label>
															<input type="text" id="validade" name="validade"
																class="form-control" th:value="${p.validade}" />
														</div>

														<button type="submit" class="btn btn-primary">
															Enviar
														</button>
														<a href="./promocao" class="btn btn-danger"
															style="margin-left: 10px">
															Cancelar
														</a>
													</form>
												</div>

											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel"> Cadastrar </h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form th:action="@{/promocao/cadastrar}" method="post" th:object="${promocao}">

								<div class="form-group mb-3">
									<label for="preco" class="form-label">
										Preço
									</label>
									<input type="text" th:id="precoPromo" th:name="precoPromo" class="form-control"
										th:field="*{precoPromo}" />
								</div>
								<div class="form-group mb-3">
									<label for="validade" class="form-label">
										Validade
									</label>
									<input type="date" th:id="validade" th:name="validade" class="form-control"
										th:field="*{validade}" />
								</div>

								<button type="submit" class="btn btn-primary">
									Enviar
								</button>
								<a href="./promocao" class="btn btn-danger" style="margin-left: 10px">
									Cancelar
								</a>
							</form>
						</div>

					</div>
				</div>
			</div>


		</section>
	</main>
</body>

</html>