<footer th:fragment="footer" class="footer-copyright">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <div class="footer-logo">
                                <a href="index.html">NASA<span> Airline</span></a>
                                <p>Best Travel Agency</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <h2>link</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">home</a></p>
                                <p><a href="#">destinos</a></p>
                                <p><a href="#">promoções</a></p>
                                <p><a href="#">contato</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <h2>popular destination</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">Suiça</a></p>
                                <p><a href="#">Tailândia</a></p>
                                <p><a href="#">Brazil</a></p>
                                <p><a href="#">Inglaterra</a></p>
                                <p><a href="#">Londres</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-footer-item text-center">
                            <h2 class="text-left">contacts</h2>
                            <div class="single-footer-txt text-left">
                                <p>+55 (21) 9595-4545</p>
                                <p class="foot-email"><a href="#">nasa@agency.com</a></p>
                                <p>Avenida Atlântica Bloco 445/B</p>
                                <p>Rio de Janeiro, BRA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 2px;">
            <div class="foot-icons">
                <ul class="footer-social-links list-inline list-unstyled d-flex justify-content-center">
                    <li><a href="#"
                           target="_blank"
                           class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"
                           target="_blank"
                           class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"
                           target="_blank"
                           class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <p>&copy; 2023 <a href="">NASA Airline</a>. Todos os Direitos Reservados</p>
            </div>
        </div>
    </footer>