<html th:replace="~{layout :: layout ('Promoções', ~{::main}, ~{::styles}, ~{::script})}">


<head></head>

<body>

	<main>
		<section id="spo" class="special-offer" style="border-bottom: 5em solid #00d9ff2d;">
			<div class="container">
				<div class="special-offer-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="single-special-offer">
								<div class="single-special-offer-txt">
									<h2>Alemanha</h2>
									<div class="packages-review special-offer-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 Avaliações</span>
										</p>
									</div>
									<div class="packages-para special-offer-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Dias - 6 Noites
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 2 Pessoas
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 5 Estrelas
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Transportes
											</span>
											<span>
												<i class="fa fa-angle-right"></i> instalações de alimentação
											</span>
										</p>
										<p class="offer-para">
											Explore a Alemanha e mergulhe na sua rica história, arquitetura fascinante e
											cultura vibrante. Das cidades modernas à beleza dos Alpes, a Alemanha
											oferece
											uma experiência única.
										</p>
									</div>
									<div class="offer-btn-group">
										<div class="about-btn">
											<button class="about-view packages-btn offfer-btn">
												Fazer Tuor
											</button>
										</div>
										<div class="about-btn">
											<button class="about-view packages-btn">
												Reservar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-special-offer">
								<div class="single-special-offer-bg">
									<img src="/IMGs/offer/offer-shape.png" alt="offer-shape">
								</div>
								<div class="single-special-shape-txt">
									<h3>OFERTA ESPECIAL</h3>
									<h4><span>40%</span><br>off</h4>
									<p><span>$999</span><br><s>Padrão $ 1450</s></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>


		<section id="spo" class="special-offer" style="border-bottom: 5em solid #00d9ff2d;">
			<div class="container">
				<div class="special-offer-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="single-special-offer">
								<div class="single-special-offer-txt">
									<h2>Estados Unidos</h2>
									<div class="packages-review special-offer-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 Avaliações</span>
										</p>
									</div>
									<div class="packages-para special-offer-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Dias - 6 Noites
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 2 Pessoas
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 5 Estrelas
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Transportes
											</span>
											<span>
												<i class="fa fa-angle-right"></i> instalações de alimentação
											</span>
										</p>
										<p class="offer-para">
											Explore a Alemanha e mergulhe na sua rica história, arquitetura fascinante e
											cultura vibrante. Das cidades modernas à beleza dos Alpes, a Alemanha
											oferece
											uma experiência única.
										</p>
									</div>
									<div class="offer-btn-group">
										<div class="about-btn">
											<button class="about-view packages-btn offfer-btn">
												Fazer Tuor
											</button>
										</div>
										<div class="about-btn">
											<button class="about-view packages-btn">
												Reservar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-special-offer">
								<div class="single-special-offer-bg">
									<img src="/IMGs/offer/offer-shape.png" alt="offer-shape">
								</div>
								<div class="single-special-shape-txt">
									<h3>OFERTA ESPECIAL</h3>
									<h4><span>40%</span><br>off</h4>
									<p><span>$999</span><br><s>Padrão $ 1450</s></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section id="spo" class="special-offer">
			<div class="container">
				<div class="special-offer-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="single-special-offer">
								<div class="single-special-offer-txt">
									<h2>Canadá</h2>
									<div class="packages-review special-offer-review">
										<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>2544 Avaliações</span>
										</p>
									</div>
									<div class="packages-para special-offer-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Dias - 6 Noites
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 2 Pessoas
											</span>
											<span>
												<i class="fa fa-angle-right"></i> 5 Estrelas
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Transportes
											</span>
											<span>
												<i class="fa fa-angle-right"></i> instalações de alimentação
											</span>
										</p>
										<p class="offer-para">
											Explore a Alemanha e mergulhe na sua rica história, arquitetura fascinante e
											cultura vibrante. Das cidades modernas à beleza dos Alpes, a Alemanha
											oferece
											uma experiência única.
										</p>
									</div>
									<div class="offer-btn-group">
										<div class="about-btn">
											<button class="about-view packages-btn offfer-btn">
												Fazer Tuor
											</button>
										</div>
										<div class="about-btn">
											<button class="about-view packages-btn">
												Reservar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-special-offer">
								<div class="single-special-offer-bg">
									<img src="/IMGs/offer/offer-shape.png" alt="offer-shape">
								</div>
								<div class="single-special-shape-txt">
									<h3>OFERTA ESPECIAL</h3>
									<h4><span>40%</span><br>off</h4>
									<p><span>$999</span><br><s>Padrão $ 1450</s></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

	</main>
</body>

</html>